
/* Style for the whole container */
.h5p-imageLabeling-container {
  background-color: white;
  color: #333;
}

ul{
  font-family: H5PFontAwesome4;
  font-size: 0.9em;
  margin: 1.0em;
  border: 1px solid black;
  
}


.h5p-image-hotspots-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  width: auto;
}


.h5p-image-hotspots-background {
  width: 100%;
}


.h5p-image-hotspot {
  position: absolute;
  height: 1.4em;
  width: 1.4em;
  text-align: center;
  line-height: 1;
  border-radius: 0.7em;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  background: white;
  padding: 0;
  border: none;
  margin: 0;
  font-size: 1em;
}



.h5p-image-hotspot.disabled {
  display: none;
}



.h5p-image-hotspot:before {
  font-family: H5PFontAwesome4;
  content: '\f14b';
  width: 1.2em;
  height: 1.2em;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0 0.1em;
}

.h5p-image-hotspot-answer-container{
  padding-top: 1.0em;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.h5p-image-hotspot-answer-draggable {
  font-family: H5PFontAwesome4;
  font-size: .9em;
  font-weight: bold;
  padding: 0.5em; 
  margin: .5em;
  background-color:#aaaaaa; 
  color: black;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.5em;
  text-align: center;
}


.h5p-image-hotspot-popup {
  position: absolute;
  width: 6em; 
  height: 1.5em;
  background-color: lightblue;
  border: 1px solid #aaaaaa;
  font-weight: bold;
}


.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;

}

.button1 {
  margin-top: 10px;
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}
.h5p-image-hotspot-checkButton-container{
  clear: both;
}

.h5p-image-hotspots-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: background .5s ease-in-out;
  transition: background .5s ease-in-out;
  background: transparent;
  z-index: 1;
}
.h5p-image-hotspots-overlay.visible {
  background: rgba(0,0,0,0.5);
}


/* If image is missing */

.background-image-missing {
  background-color: antiquewhite;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  text-align: center;
  padding: 2em;
  color:red;
}


/* Fullscreen */
.h5p-image-hotspots.h5p-fullscreen,
.h5p-image-hotspots.h5p-semi-fullscreen {
  background-color: #000;
}
/* Center vertically on fullscreen */
.h5p-image-hotspots.h5p-fullscreen .h5p-image-hotspots-container,
.h5p-image-hotspots.h5p-semi-fullscreen .h5p-image-hotspots-container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
